RPC_URL=http://host.docker.internal:8545
ORACLE_ADDRESS=0x0000000000000000000000000000000000000001
CHAIN_ID=167
OPENROUTER_API_KEY=your_openrouter_api_key
POLL_INTERVAL_MS=5000
PINATA_JWT=your_pinata_jwt
IPFS_GATEWAY_URL=your_ipfs_gateway_url
